@import "tailwindcss";

/* fonts  */
.tridon {
  font-family: "Triodion", serif;

}


/* custom colors */
.text_color{
  color: #4FD1C5 ;
}
.lavis {
  font-family: "Lavishly Yours", serif;

}

/* Add this to your global CSS file */
.nav-link {
  @apply text-amber-500 hover:text-amber-700;
}
/* Example for adding an active class in your CSS */
.active-link {
  @apply text-amber-700 font-bold;
}
